
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */





/* post section */

.add-post{
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.add-post a{
    margin-left: 10px;
}





.create-Post-container{

    margin-top: 100px;
}

.profile-rc{
    display: flex;
    
}
.profile-rc h5{
    margin: 10px;
}

/*post container*/


.cstm-card{
    margin: 5% 15%;
    
    
}


/* post detail */

.post-detail-container{
    margin-top: 7%;
}

.add-comment{
    padding: 2% 5%;
}
.add-comment h5{
    margin-bottom: 5%;
}

.cstm-comments{

    padding: 2% 5%;

}
.cmnt-h5{

    margin-left: 5%;

}


/* explore */

.cstm-all-post{
    margin: 10% 5%;
}

/*create post*/

.create-Post-container{
    margin: 10% 5%;
}


/* profile details */

.about-container{
    display: flex;
    
    
    margin: 10% 15% 3%;
}

.about-profile-img{
    
  flex: 1;
  display: inline;
  
    
}
.about-profile-img img{
    height: auto;
    width: 60%;
    border: 3px solid #4596ff;
    box-shadow: -3px 0px 20px 4px #888888;
    
    
}

.about{
    flex: 2;
}

.profile-posts h2{

    margin-left: 7%;
    
}